.title{
    background-color: #39393b;
    text-align: center;
    color: #74b5f3;
    margin: 0;
    padding: 20px;
}
.characters{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
